.flexDiv{
    display: flex;
}

#monk{
    width: 30vw;
    height: 30vw;
    aspect-ratio: 1/1;
    margin-right: 10%;
}

.flexDiv div{
    width: 50%;
    padding: 5%;
}
.flexDiv h1{
    font-size: 50px;
}

.flexDiv button{
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 40px;
}
#arrow{
    width: 30px;
    height: 30px;
}

@media (max-width:1000px) {
    #monk{
        width: 50vw;
        height: 50vw;
        margin-right: 5%;
    }
}
@media (max-width:700px) {
    #monk{
        margin-top: 10vh;
    }   
}
@media (max-width:520px) {
    #monk{
        width: 40vw;
        height: 40vw;
    }
    .flexDiv h1{
        font-size: 40px;
    }
}